Repository Armor-test/cache-client-621, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Armor-test/grp-integration, @Armor-test/unit-cloud, @Armor-test/dept-test, @Armor-test/squad-reporting, @Armor-test/squad-product, @Armor-test/team-research, @Armor-test/dept-notifications, @Armor-test/unit-devops, @Armor-test/team-frontend, @Armor-test/unit-design, @Armor-test/squad-database, @Armor-test/squad-cache, @Armor-test/grp-reporting, @Armor-test/squad-research, @Armor-test/dept-api, @Armor-test/dept-identity, @Armor-test/team-core, @Armor-test/dept-release, @Armor-test/team-notifications, @Armor-test/dept-ui, @Armor-test/dept-automation, @Armor-test/team-security, @Armor-test/squad-api, @Armor-test/grp-payments, @Armor-test/squad-tooling, @Armor-test/team-logging, @Armor-test/grp-api, @Armor-test/squad-payments, @Armor-test/squad-ml, @Armor-test/squad-cloud, @Armor-test/team-reporting, @Armor-test/squad-mobile, @Armor-test/security, @Armor-test/compliance, @Armor-test/ci-team, @Armor-test/devops, @Armor-test/auth-team

.github/CODEOWNERS:

# CODEOWNERS file for cache-client-621
# Global owners - will be requested for all PRs
* @Armor-test/grp-integration @Armor-test/unit-cloud @Armor-test/dept-test

# Directory ownership
/pkg/ @Armor-test/squad-reporting @Armor-test/squad-product
/internal/ @Armor-test/team-research @Armor-test/dept-test
/third_party/ @Armor-test/team-research @Armor-test/dept-notifications @Armor-test/unit-cloud
/styles/ @Armor-test/unit-devops @Armor-test/team-frontend @Armor-test/unit-design
/dist/ @Armor-test/squad-product @Armor-test/squad-database @Armor-test/unit-design
/core/ @Armor-test/unit-design @Armor-test/unit-devops @Armor-test/squad-cache
/src/ @Armor-test/grp-reporting @Armor-test/squad-research
/config/ @Armor-test/dept-api @Armor-test/dept-identity
/test/ @Armor-test/unit-devops @Armor-test/team-core @Armor-test/dept-release
/security/ @Armor-test/team-notifications @Armor-test/team-core
/api/ @Armor-test/dept-ui @Armor-test/dept-automation @Armor-test/team-security
/auth/ @Armor-test/team-frontend @Armor-test/grp-reporting @Armor-test/dept-identity
/services/ @Armor-test/dept-release @Armor-test/dept-api

# File type ownership
*.jsx @Armor-test/squad-reporting @Armor-test/squad-api
*.sql @Armor-test/grp-payments @Armor-test/unit-design
*.c @Armor-test/squad-tooling @Armor-test/squad-cache
*.lock @Armor-test/team-logging @Armor-test/grp-api
*.html @Armor-test/squad-payments @Armor-test/dept-ui
*.go @Armor-test/team-frontend @Armor-test/unit-design @Armor-test/squad-ml
*.py @Armor-test/squad-api @Armor-test/squad-research
*.ini @Armor-test/squad-cloud @Armor-test/team-logging @Armor-test/squad-tooling
*.java @Armor-test/unit-cloud @Armor-test/team-reporting
*.tsx @Armor-test/team-reporting @Armor-test/unit-cloud @Armor-test/team-security
*.toml @Armor-test/team-core @Armor-test/team-notifications @Armor-test/squad-mobile

# Security and special files
/src/**/security/ @Armor-test/security @Armor-test/compliance
.github/workflows/ @Armor-test/ci-team @Armor-test/devops
Jenkinsfile @Armor-test/ci-team @Armor-test/devops
/src/**/auth/ @Armor-test/security @Armor-test/auth-team

Add src/.gitkeep
  src/.gitkeep
Owners: @Armor-test/grp-reporting, @Armor-test/squad-research

Add docs/.gitkeep
  docs/.gitkeep
Owners: @Armor-test/grp-integration, @Armor-test/unit-cloud, @Armor-test/dept-test

Add test/.gitkeep
  test/.gitkeep
Owners: @Armor-test/unit-devops, @Armor-test/team-core, @Armor-test/dept-release

Add src/main.py
  src/main.py
Owners: @Armor-test/squad-api, @Armor-test/squad-research

Add src/index.js
  src/index.js
Owners: @Armor-test/grp-reporting, @Armor-test/squad-research
